.ship-form{
    margin: 30px 100px;
}
.ship-form input{
    display: block;
    margin-top: 30px;
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
}
.ship-form input:focus {
    outline: none;
}
.error {
    color: tomato;
    text-align: left;
}
.submitButtonStyle {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border: none;
    background-color: #3F90FC;
    color: white;
    border-radius: 5px;
}
.submitButtonStyle:focus {
    outline: none;
}
.dateTime {
    width: 100%;
}